<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Focussed. Simple. Elegant.</h2>
                <hr class="light">
                <p class="text-faded">We've a wealth of experience working in research and development in design and manufacturing, particularly within the assistive technology and medical device fields.</p>
                <a href="#" class="btn btn-default btn-xl">Let's chat!</a>
            </div>
        </div>
    </div>
</section>
